.header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.header2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.container {
    margin: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #0000005d;
}

h1 {
    margin: 0;
    margin-bottom: 0 !important;
}

.header::after {
    content: '';
    display: block;
    width: 15%;
    height: 2px;
    background-color: rgba(209, 209, 209, 0.393);
    margin-top: 5px !important;
    margin: 0px auto;
}

.header2::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: rgba(209, 209, 209, 0.393);
    margin-top: 5px !important;
    margin: 0px auto;
}

.underline {
    content: '';
    display: block;
    width: 5%;
    height: 2px;
    background-color: rgba(209, 209, 209, 0.393);
    margin: 4px auto;
}

.underline2 {
    content: '';
    display: block;
    width: 10%;
    height: 2px;
    background-color: rgba(209, 209, 209, 0.393);
    margin: 4px auto;
}

label {
    font-size: 13px;
    font-weight: 600;
}
